.DS_Store

*/xcode/**/*

/.project
/.idea/ 
/.idea/**/*
/.settings/
/target
/target/**/*
/*/target/**/*
/*/*/target/**/*
/*/.settings/
/*/.project
/*/.idea/
/*/.classpath
/*/target/**/*
/*/.factorypath
/logs
/logs/*
/logs/**/*
/_output
/_output/*
/_output/**/*
/*/logs/*
/*/logs/**/*
*.iml
.gitignore.swp
!/release.properties
